In [1]:
#imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
#data load
bikesharing = pd.read_csv("./Data/hour.csv")

In [3]:
print(f"Shape of data: {bikesharing.shape}")
print(f"Number of missing values in the data:{bikesharing.isnull().sum().sum()}")
bikesharing.describe()

Shape of data: (17379, 17)
Number of missing values in the data:0

,instant,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,0.682721,1.425283,0.496987,0.475775,0.627229,0.190098,35.676218,153.786869,189.463088
std,5017.0295,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.465431,0.639357,0.192556,0.171850,0.192930,0.122340,49.305030,151.357286,181.387599
min,1.0000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,0.000000,1.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,40.000000
50%,8690.0000,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,1.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000
75%,13034.5000,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,1.000000,2.000000,0.660000,0.621200,0.780000,0.253700,48.000000,220.000000,281.000000
max,17379.0000,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000

In [5]:
bikesharing.sample(100)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
15938,15939,2012-11-01,4,1,11,19,0,4,1,2,0.40,0.4091,0.50,0.1642,28,424,452
7360,7361,2011-11-08,4,0,11,7,0,2,1,1,0.30,0.3182,0.87,0.1045,7,316,323
2683,2684,2011-04-26,2,0,4,17,0,2,1,1,0.68,0.6364,0.61,0.3582,66,455,521
4438,4439,2011-07-08,3,0,7,20,0,5,1,1,0.66,0.6061,0.83,0.1642,30,220,250
7788,7789,2011-11-26,4,0,11,3,0,6,0,1,0.30,0.3333,0.81,0.0000,8,9,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4074,4075,2011-06-23,3,0,6,16,0,4,1,2,0.74,0.6818,0.62,0.2985,58,217,275
1513,1514,2011-03-08,1,0,3,10,0,2,1,2,0.30,0.2879,0.33,0.1940,25,46,71
2266,2267,2011-04-09,2,0,4,7,0,6,0,2,0.30,0.3030,0.93,0.1642,8,13,21
5403,5404,2011-08-18,3,0,8,1,0,4,1,2,0.66,0.6212,0.65,0.1642,13,11,24
6646,6647,2011-10-09,4,0,10,12,0,0,0,1,0.64,0.6212,0.44,0.0896,212,243,455